<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- ...- front section-.... -->
    <section class="sub-header">

        <nav>
            <img src="./img/icon4.jpg" alt="logo">
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="./register">REGISTER</a></li>

                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <h1>REGISTER NOW</h1>

    </section>

    <!-- content  -->
    <section class="location">

    </section>

    <section class="contact-us">
        <div class="row">

            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span>
                        <h5>XYZ Road,ABC Building</h5>
                        <p>Jaunpur, Uttar Pradesh, IN</p>

                    </span>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <span>
                        <h5>+91 9369011902</h5>
                        <p>Monday to saturday, 10AM to 6PM</p>

                    </span>
                </div>
                <div>
                    <i class="fa fa-envelope-o"></i>
                    <span>
                        <h5>ksroyal492@gmail.com</h5>
                        <p>Email us your query</p>

                    </span>
                </div>
            </div>
            <div class="contact-col">

                <form action="/register" method="POST">
                    <input type="text" name="name" placeholder="Enter Your Name">
                    <input type="email" name="email" placeholder="Enter Your Email" >
                    <input type="text" name="Phone_no" placeholder="Enter Your Phone no.">
                    <button type="submit" class="hero-btn grey-btn">Submit</button>
                    <button type="reset" class="hero-btn grey-btn">Reset</button>


                </form>

 

            </div>
        </div>

    </section>

    <!-- footer  -->
    
    <footer>
        <p class="footer">
            &copy; Copyright 2021 | www.stackagencyks.com | All Rights Reserved
        </p>
    </footer>



    <script>
        var navlinks = document.getElementById("navlinks");
        function showMenu() {
            navlinks.style.right = "0";
        }
        function hideMenu() {
            navlinks.style.right = "-200px";
        }
    </script>

</body>

</html>